<!DOCTYPE html>
<html ng-app="raspberryPiSoundApp">
<head>
    <meta charset="utf-8">
    <title>RaspberryPiSound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="Content/bootstrap.min.css" media="screen">
    <link href="Content/style.css" rel="stylesheet" />
    <link href="Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="Favicon.ico">

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/jquery.js"></script>
    <script src="Scripts/jasny-bootstrap.min.js"></script>

    <meta name="description" content="The description of my page" />
</head>
<body ng-controller="musicController">
    <div class="loader" ng-show="isBusy || !init">
        <img style="margin: 0 auto; margin-left:-15px; margin-top:-15px" src="Content/ajax-loader.gif" />
    </div>
    <div class="container" ng-show="init">
        <div class="jumbotron">
            <h2 style="margin-top:0">{{currentTrack.Artists[0]}}</h2>
            <h3 style="margin-top:0">{{currentTrack.Title}}</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{Volume}}%;">
                    <span class="sr-only">{{Volume}}% Complete</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="" class="btn btn-primary btn-block" ng-click="VolumeDown()"><img src="Content/sound_low.png" alt="" /> -</a>
                </div>
                <div class="col-md-3">
                    <a href="" class="btn btn-primary btn-block" ng-click="VolumeUp()"><img src="Content/sound.png" alt="" /> +</a>
                </div>
                <div class="col-md-2">
                    <a href="" class="btn btn-primary btn-block" ng-click="PauseMusic()"><img src="Content/control_pause.png" alt="" /> Pause</a>
                </div>
                <div class="col-md-2">
                    <a href="" class="btn btn-primary btn-block" ng-click="StopMusic()"><img src="Content/control_stop.png" alt="" /> Stop</a>
                </div>
                <div class="col-md-2">
                    <a href="" class="btn btn-primary btn-block" ng-click="PlayNext()"><img src="Content/control_fastforward.png" alt="" /> Next</a>
                </div>
            </div>
            <div class="row" style="max-height: 300px !important; overflow-y: auto; margin:3px;">
                <table class="table table-striped table-hover table-responsive">
                    <thead data-link="row" class="rowlink">
                        <tr>
                            <th width="30">#</th>
                            <th>MP3 - Playlist</th>
                        </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink" ng-repeat="item in playList">
                        <tr>
                            <td>
                                <img class="icon" src="Content/sound.png" />
                            </td>
                            <td>
                                {{item.Name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead data-link="row" class="rowlink">
                        <tr>
                            <th>Verzeichnis {{currentDir}}</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="" ng-click="SwitchDirectoryBack()">
                                    <img class="icon" src="Content/folders_explorer.png" />
                                    Zurück
                                </a>
                            </td>
                        </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink" ng-repeat="dir in Directories">
                        <tr>
                            <td>
                                <a href="" ng-click="SwitchDirectory(dir)">
                                    <img class="icon" src="Content/folder.png" />{{dir.Name}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover">
                    <thead data-link="row" class="rowlink">
                        <tr>
                            <th width="30" align="right">#</th>
                            <th>MP3</th>
                        </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink" ng-repeat="file in MusicFiles">
                        <tr>
                            <td align="right">{{$index + 1}}</td>
                            <td>
                                <a href="" ng-click="PlaySingle(file)">
                                    <img class="icon" src="Content/music.png" />{{file.Name}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="MusicFiles.length == 0">
                        <tr>
                            <td colspan="2" align="center">No music here...</td>
                        </tr>
                    </tbody>
                    <tfoot data-link="row" class="rowlink" ng-hide="MusicFiles.length == 0">
                        <tr align="center">
                            <td colspan="2">
                                <a href="" ng-click="PlayAll(MusicFiles)">
                                    <h4 style="font-weight:bold;"><img class="icon" src="Content/music.png" /> Play All</h4>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
